
@{
    ViewData["Title"] = "About";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row about-container">
    <div class="col ">
        <img class="avatar avatar-16 bg-light rounded-circle text-white photo mx-auto d-block" src="~/images/small_cv_photo.png" />
    </div>
    <div class="info mx-auto d-block">
        <h3>Name : @ViewBag.Name</h3>
    </div>
    <div class="info mx-auto d-block">
        <p><strong>About me: </strong>@ViewBag.Info</p>
    </div>
    <div class="experience mx-auto d-block">
        <p><strong>Experience : </strong> @ViewBag.Experience1</p>
        <p><strong>Period : </strong> @ViewBag.Experience1Time</p>
    </div>
    <div class="education mx-auto d-block">
        <p><strong>Education : </strong> @ViewBag.Education1</p>
        <p><strong>Period : </strong> @ViewBag.Education1Time</p>
        <div></div>
    </div>
</div>    

